body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  nav ul li {
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
  }
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  nav ul li a:hover {
    text-decoration: underline;
  }
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  section {
    margin-bottom: 50px;
  }
  section h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  section ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  section ul li {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    display: inline-block;
    margin-right: 20px;
    padding: 20px;
    width: 200px;
    text-decoration: none;
  }
  section ul li img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
  section ul li h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  section ul li p {
    font-size: 16px;
    margin-bottom: 0;
  }
  section p a {
    color: #333;
    text-decoration: underline;
  }
  section p a:hover {
    color: #666;
  }

  .site{
    min-height: calc(100vh - 50px); /* altura da janela menos a altura do rodapé */
   
    background-repeat: no-repeat;
    image-rendering: auto;
    background-size: 100% 100%;
    background-color: rgb(192, 215, 236);
  
  }

  .botao{

      background-color: #8ab5e4;
      color: #fff;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      text-decoration: none;
    }
    
    .botao:hover {
      background-color: #97bef8;
  }